$fonts: "Copperplate", "Times New Roman", "Sans-serif";
$greyColor: #6b6965;

body {
  background-color: #1f1c1c;
}

form {
  margin: auto;
  width: 25vw;
}

form input[type=text] {
  box-sizing: border box;
  border: 2px solid $greyColor;
  border-radius: 3em;
  margin-left: -7.25vw;
  height: 4vh;
  width: 40vw;
  text-align: center;
}

label {
  color: #c9d1cb;
}

div.submit-container input[type=submit] {
  background-color: #f8f9fa;
  font-size: 14px;
  font-family: "Lucida Console";
  color: black;
  border: 1px solid $greyColor;
  border-radius: 4px;
  padding: 11px 20px;
  margin: 0 3% 0 5%;
  left: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.submit-container input:hover {
  background-color: $greyColor;
  font-family: $fonts;
  color: white;
}

.title-header {
  margin-top: 40vh;
  font-size: 75px;
  text-align: center;
  color: #f25252;
  font-family: $fonts;
}

.submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}
