{% extends "network/layout.html" %}

{% block title %}
{{ user.username }} | Network
{% endblock %}

{% block body %}
<div class="card">
  <div class="card-body">
    <h2>
      {{ user.username }}
    </h2>

    <p>
      <strong>
        Followers:
      </strong>
      {{ profile.followers.count }}
    </p>

    <p>
      <strong>
        Following:
      </strong>
      {{ profile.following.count }}
    </p>

    <p>
      <strong>
        Email:
      </strong>
      {{ user.email }}
    </p>
  </div>

  {% if request.user.is_authenticated and request.user != user %}

  <div class="follow-buttons">

    <button id="follow-unfollow" class="btn btn-secondary" data-username="{{ user.username }}"
      data-action="{% if is_following %}DELETE{% else %}POST{% endif %}" data-is_following="{{ is_following }}"
      type="button">
      {% if is_following %}
      Unfollow
      {% else %}
      Follow
      {% endif %}
    </button>

    <!-- {% if is_following %}

    <button class="btn btn-secondary" data-username="{{ user.username }}" data-action="DELETE" type="button">
      Unfollow
    </button>

    {% else %}

    <button class="btn btn-secondary" title="Follow" data-username="{{ user.username }}" data-action="POST"
      type="button">
      Follow
    </button>

    {% endif %} !-->

  </div>

  {% endif %}

  <br>
</div>

<div class="all-posts">
  <h2>
    {{ user.username }}'s Posts
  </h2>

  <br>

  {% for post in posts %}

  <div class="card all-posts mb-4 shadow">
    <div class="card-body">
      <h5 class="card-title">
        <strong>
          <a href="{% url 'network:profile' post.user %}">
            {{ post.user }}
          </a>
        </strong>
      </h5>

      <div id="post-content" class="mb-2">
        {{ post.content }}
      </div>

      {% if request.user == post.user %}

      <div class="mb-2">
        <button class="btn btn-info" id="edit-post" data-post-id="{{ post.id }}" type="button">
          Edit
        </button>
      </div>

      {% endif %}

      {% if request.user.is_authenticated %}

      <div class="mb-2">
        <button id="like" data-post-id="{{ post.id }}" type="button">
          &#x2665;&#xfe0f; {{ post.likes.count }}
        </button>
      </div>

      {% endif %}

      <div class="timestamp">
        {{ post.posted_at }}
      </div>
    </div>

    <div class="hidden" id="edit-post-form" data-post-id="{{ post.id }}">
      <textarea id="edit-post-content" placeholder="Please tell us what is on your mind right now." rows="5" cols="75">
      {{ post.content }}
      </textarea>

      <br>

      <button class="btn btn-primary" id="save-edit" type="button">
        Save
      </button>
    </div>
  </div>

  <br>

  {% empty %}

  <p>
    <strong>
      No posts have been made yet.
    </strong>
  </p>

  {% endfor %}
</div>

<hr>

<nav>
  <ul class="box pagination d-flex">
    {% if posts.has_previous %}

    <li class="page-item">
      <a class="page-link" href="?page={{ posts.previous_page_number }}">
        Previous
      </a>
    </li>

    {% endif %}

    {% if posts.has_next %}

    <li class="page-item">
      <a class="page-link" href="?page={{ posts.next_page_number }}">
        Next
      </a>
    </li>

    {% endif %}

  </ul>
</nav>
{% endblock %}
