@use "../variables";

nav {
  font-family: variables.$fonts;
  padding-left: 80vw;
  padding-top: 1.5vh;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-right: 1.5vw;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  font-family: "Papyrus", "Monaco", Serif;
  text-decoration: underline;
}
