body {
  margin: 0;
  background-color: #b1dcf0;
  font-style: "Monospace", "Fantasy", "Ariel";
}

h1 {
  margin-top: 0;
  padding-top: 20px;
}

textarea {
  height: 90vh;
  width: 80%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li:hover {
  text-decoration: underline;
}

div[class="alert alert-danger"] {
  text-align: center;
}

form input[type=text] {
  border: 2px solid #6b6965;
  box-sizing: border box;
  border-radius: 3em;
  text-align: center;
}

.main {
  padding: 10px;
}

.search {
  width: 100%;
  font-size: 15px;
  line-height: 15px;
}

.sidebar {
  box-sizing: border-box exists;
  background-color: #e6e2e2;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-top: 5px;
}
